.align {
  padding: 20px;
}
.main {
  width: 1266px;
  height: 741px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Theme-Colors-White, #fff);
}
.flex-container {
  display: flex;
  justify-content: space-between;
}

.incidents {
  color: var(--Gray-900, #161c24);

  /* SubHeading 3/Medium */
  /* font-family: Plus Jakarta Sans; */
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.button {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid var(--Theme-Colors-Primary, #4040f2);
  background: var(--Theme-Colors-White, #fff);
  margin-left: 20px;
}

.dropdown {
  width: 93px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Gray-200, #f4f6f8);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--Gray-700, #454f5b);
  /* font-family: Plus Jakarta Sans; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-color: transparent;
  margin-right: 16px;
}

.dropdown:focus {
  border-color: #007bff; /* Change to your desired highlight color (blue in this example) */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Optional: Add a subtle box shadow for emphasis */
}

.blue-text {
  color: blue;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.custom-dropdown select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  font-size: 16px;
}

.custom-dropdown select::-ms-expand {
  display: none;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right position based on your arrow size */
  transform: translateY(-50%);
}
