.navbar {
  width: 1306px;
  padding: 16px 20px;
  background: var(--Theme-Colors-White, #fff);
  align-items: center;
  display: flex;
}

.nav-right {
  display: flex;
  padding-right: 15px;
  align-items: center;
}

.navbar-text {
  color: var(--Gray-900, #161c24);
  /* font-family: Plus Jakarta Sans; */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.auto {
  display: flex;
  width: 1266px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.notification {
  margin-left: 10px;
}

.profile-img {
  position: relative;
  z-index: 1;
  left: 5px;
  width: 35px;
}

.label {
  color: var(--Gray-900, #161c24);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  padding: 20px;
}
