@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.app {
  color: white;
}

.side-bar {
  width: 134px;
  height: 900px;
  padding: 24px;
  border-radius: 0px 12px 12px 0px;
  border: 0px 1px 0px 0px;
  gap: 24px;
  background-color: #0D0D30; /* Light gray background for visibility */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;

}

.image-container {
  position: relative;
}

.white-image {
  fill: #f9fafb;
  width: 24px;
height: 24px;
justify-content: center;
align-items: center;

}

.logo{
  width: 86px;
  height: 50px;
  flex-shrink: 0;
}

.line{
  width: 100%;
  height: 2px; 
  background: #454F5B;
  border-radius: 2px;
  flex-shrink: 0;
  align-self: stretch;
}
.nav-route{
  width: 100%;
  height: 100%;
  opacity: 0.50;
  text-align: center;
  color: #F9FAFB; 
  font-size: 14px; 
  /* font-family: Plus Jakarta Sans;  */
  font-weight: 500;
  line-height: 20px; 
  word-wrap: break-word
}

.logout{
  position: relative;
  padding: 127px;
}